{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    {{wizard.form.media }}
{% endblock %}

{% block script %}
    $(document).keypress(function(e){
            if (e.which == 104){
                        window.location.href = "{% url "index" %}";
                                }
                                    });

{% endblock %}

{% block content %}
    {% if form.errors  %}
       <div id="msg" class="alert alert-danger">
          <strong>Error!</strong>  Account must be exactly 4 numbers 
       </div>
       <br />
    {% else %}
        <h2> Enter your account number </h2>
        <p>Push 'OK' after entering your account number</p>
    {% endif %}
    {% if messages  %}
        {% for message in messages %}
        <div id="msg" class="alert alert-danger">
	  <strong>Error!</strong> {{ message }}
	</div> 
        <br />
        {% endfor %}
    {% endif %}

    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">
        {{ wizard.management_form }}
        {{ form.as_p }}
        {% csrf_token %}
    </form>
{% endblock %}

{% block r-button4 %}
    <a href="{% url "index" %}" class="btn btn-lg btn-primary btn">Cancel</a>
{% endblock %}

