{% extends 'base.html' %}

{% block head %}
    {{wizard.form.media }}
{% endblock %}

{% block script %}
<script type="text/javascript">
  URL_KEY_MAP[104]="{% url "index" %}";
  ACTION_MAP[103] = function() { window.location.reload(true); }};
  ACTION_MAP[49] = function() { setWord("id_D2-adjective", "D2_1") }};
  ACTION_MAP[50] = function() { setWord("id_D2-adjective", "D2_2") }};
  ACTION_MAP[51] = function() { setWord("id_D2-adjective", "D2_3") }};
  ACTION_MAP[52] = function() { setWord("id_D2-adjective", "D2_4") }};
  ACTION_MAP[53] = function() { setWord("id_D2-adjective", "D2_5") }};
  ACTION_MAP[54] = function() { setWord("id_D2-adjective", "D2_6") }};
  ACTION_MAP[55] = function() { setWord("id_D2-adjective", "D2_7") }};
  ACTION_MAP[56] = function() { setWord("id_D2-adjective", "D2_8") }};
  ACTION_MAP[57] = function() { setWord("id_D2-adjective", "D2_9") }};
  ACTION_MAP[13] = function() { $("form").submit(); };
</script>
{% endblock %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    {% if form.errors %}
    {% endif %}


    <form action="" method="post">
        {{ wizard.management_form }}

        {{form.as_p}}
        {% for word in form.choices.d2 %}
        <input type="radio" name="word" value="{{ word }}" id="D2_{{forloop.counter}}">{{forloop.counter}}. {{ word}}<br>
        {% endfor %}

        {{ form.words }}
        {% csrf_token %}
    </form>

{% endblock %}

{% block r-button4 %}
    <a href="{% url "index" %}" class="btn btn-lg btn-primary btn">Cancel</a>
{% endblock %}

{% block r-button3 %}
    <a href="{{ step.url }}" class="btn btn-lg btn-primary btn">Refresh</a>
{% endblock %}
