{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block script %}
<script type="text/javascript">
  URL_KEY_MAP[100]="{% url "deposit" %}";
  URL_KEY_MAP[99]="{% url "withdraw" %}";
  URL_KEY_MAP[104]="{% url "logout" %}";
</script>
{% endblock %}

{% block content %}
    <h1>{{ user }} </h1></p>
    Account information: </p>
                Balance: <strong>{{ balance }}</strong><br />
                Deposits: <strong>{{ deposits }}</strong><br />

    <h2>Patience, printer is slow</h2>
{% endblock %}

{% block l-button4 %}
    <a href="{% url "deposit" %}" id="deposit" class="btn btn-lg btn-primary btn">Deposit</a>{% endblock %}

{% block l-button3 %}
    <a href="{% url "withdraw" %}" class="btn btn-lg btn-primary btn">Withdraw</a>
{% endblock %}

{% block r-button4 %}
    <a href="{% url "logout" %}" class="btn btn-lg btn-primary btn">Logout</a>
{% endblock %}
