{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block script %}
<script type="text/javascript">
  URL_KEY_MAP[103]="{% url "dashboard" %}";
  URL_KEY_MAP[104]="{% url "logout" %}";
</script>
{% endblock %}

{% block content %}

                <h2>Deposited</h2> <blockquote>{{ poem }}</blockquote>
{% endblock %}


{% block r-button3 %}
    <a href="{% url "dashboard" %}" class="btn btn-lg btn-primary btn">Back</a>
{% endblock %}

{% block r-button4 %}
    <a href="{% url "logout" %}" class="btn btn-lg btn-primary btn">Logout</a>
{% endblock %}
