{% extends 'frbb/base.html' %}

{% load staticfiles %}

{% block title %}Account Number{% endblock %}

{% block body_block %}
<style>
    .form-signin {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
  }    
</style>
    <div class="container text-center">
    <form class="form-signin" id="login_form" method="post" action="/frbb/login/">
        {% csrf_token %}
            <input type="text" class="form-control" name="username" value="" size="50" placeholder="New/Existing ACCT #"/>
        <br />
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Cancel" />
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enter" />
     </form>
    </div>
{% endblock %}
